/* common styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
}
body{
    background-color: #fff;
}

.link{
    text-decoration: none;
    color: lightgray;
    background-image: linear-gradient(orange,tomato);
    padding: 8px 17px;
    border-radius: 8px;
    font-size: 17px;
}

.link-style{
   
}

.half-width{
    width: 50%;
}

.fa-greater-than{
    font-size: 17px;
    color: lightgray;
    margin-left: 12px;
}
/* head-section */
header{
    width: 93%;
    margin: 15px auto;
    background-color: #000;
    border-radius: 20px;
    outline: none;
    display: flex;
    height:95vh;
}

header .heading-information{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 83px;
    margin-left: 60px;
}

.heading-information span{
    text-transform: uppercase;
    color: #a7edc6;
    display: inline-block;
    margin-top: 9px;
}
.heading-information p{
    font-size: 16px;
    margin-top: 7px;
}
.heading-information .link-1{
    margin-top: 23px;
    width: 150px;
}
header .banner-picture img{
    width: 97%;
}
/* head section end  */

/* match section  */

.match-section{
    width: 93%;
    display: grid;
    grid-template-columns: 210px 1fr;
    gap: 7px;
    margin: 25px auto;

}

.link-option{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: gray;
    height: 270px;
    align-items: center;
    justify-content: space-evenly;
}

.link-style{
    width: 190px;
    height: 20px;
}
.link-style a{
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    background-color: #d99629;
    border: 2px solid #d99629;
    border-radius: 7px;
    color: #fff;
    padding: 8px 0;
    margin-top: -10px;

}

.link-style a:hover{
    background-color: darkblue;
    border: 2px solid darkblue;
    color: #fff;
}

/* upcoming matches styles */

.matches{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 15px;
}
.match{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #afbfb2;
    border-radius: 10px;
}

.match:hover{
    background-color:aqua;
}

.match .match-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.match .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.match .info h3{
    font-size: 24px;
    font-weight: 700;
}

.match .info p{
    font-size: 16px;
    font-weight: 300;
}

/* footer section styles */

footer{
    background-color: #000;
    height: 400px;
}
.footer-text{
    color: #fff;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}
hr{
    width: 70%;
    margin: 150px auto 0;
}

.contact-link ul{
    display: flex;
    justify-content: center;
    flex-direction: row; 
    margin-top: 30px;
    
}

contact-link li{
    list-style-type: none;
}
.contact-link li a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    position: relative;
}

.contact-list li a:after{
    content: '';
    position: absolute;
    background-color: rgb(172, 62, 62);
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.contact-link li a:hover:after{
    width: 100%;

}




/* mobile responsive for headers section  */

@media  screen and(max-width: 450px) {
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .heading-information,.banner-picture{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .heading-information{
        margin-left: -25px;
    }
    .heading-information{
        text-align: center;
    }


    .match-section{
        display: grid;
        grid-template-columns: 1fr;
    }

    .matches{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }

    .match{
        margin-top: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .match-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .match-info .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }





    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
    }
    hr{
        margin: auto;
        width: 90%;
        margin-top: 22px;
    }
    .contact-link ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 28px;
    }
    .contact-link li{
        margin-bottom: 25px;
    }
    .contact-link li a:hover{
        color: lime;
    }
    .tablet-button{
        display: none;
    }

}







/* media query tablet section  */
@media only screen and (min-width: 451px) and (max-width: 1024px) {
    header{
        width: 100%;
        height: 500px
    }
    .match-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .link-option{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
    }
    .matches{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }
     footer hr{
        margin-top: 80px;
     }
     .contact-link ul{
    
        margin: 60px auto;
     }
     .contact-link li a{
        display: flex;
        justify-content: space-evenly;
        margin-left: 25px;

     }
}